*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
/iosApp/Pods/
/iosApp/Live2DSDK-Core/
/shared/native/native.podspec
/iosApp/Podfile.lock
/composeApp/bgm.db
/composeApp/bgm.preferences_pb
/shared/core-avif/darwin/libavif/
/composeApp/kcef-bundle/
/composeApp/bgm.window_state
/h5/BACK/
/h5/BACK-FUL/
/DefaultApi.kt
/actions-runner/
