// 自定义字体
// noinspection CssUnknownTarget
@font-face {
  font-family: 'BgmFont';
  src: url("/android/font.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  place-items: center;

  * {
    font-family: 'BgmFont', monospace;
    box-sizing: border-box;
    background: transparent;
  }
}

#app {
  height: 100%;
  width: 100%;
}

.w-0 {
  width: 0 !important;
}

.w-20 {
  width: 20% !important;
}

.w-25 {
  width: 25% !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.w-50 {
  width: 50% !important;
}

.w-60 {
  width: 60% !important;
}

.h-0 {
  height: 0 !important;
}

.h-10 {
  height: 10% !important;
}

.h-40 {
  height: 40% !important;
}

.pointer {
  cursor: pointer !important;
}

pre {
  overflow-x: scroll !important;
  background: #cccccc3f;
  border-radius: 6px;
  padding: 12px;
  font-size: 80%;
  color: #ff80ab;
  box-sizing: border-box;
}

.blinking {
  color: #3b4f64;
  border-radius: 6px;
  animation: blinkAnimation 1s forwards;
}

@keyframes blinkAnimation {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

img[smileid] {
  margin: 6px 3px 0 3px !important;
  vertical-align: bottom !important;
  border: 1px solid #ff80ab !important;
  padding: 1px !important;
  height: 20px !important;
  width: 20px !important;
  min-width: unset !important;
  border-radius: 4px !important;
  display: inline-block !important;
}

.quote {
  font-size: 75%;
  margin: 6px 0;
  color: #666;

  span {
    font-weight: bold;
    background: #cccccc7f;
    border-radius: 6px;
    padding: 2px 4px;
    font-size: 10px;
    color: #333333;
  }

  q:before {
    content: open-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: -22px;
    position: relative;
    top: 15px;
    font-size: 30px;
    letter-spacing: -18px;
    color: #CCC;
  }

  q::after {
    content: close-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: 3px;
    position: relative;
    top: 20px;
    font-size: 30px;
    color: #CCC;
  }
}

.text_mask {

}

// 元素开始进入的状态 | 元素离开结束的状态
.run-enter-from,
.run-leave-to {
  opacity: 0;
}

// 元素进入结束的状态 ｜ 元素开始离开的状态。 这里不写也可以！！！！！！
.run-enter-to,
.run-leave-from {
  opacity: 1;
}

// 元素进入 ｜ 结束时，过渡的效果
.run-enter-active,
.run-leave-active {
  // 过渡动画的使用
  transition: opacity 0.2s linear;
}