:root {
  --primary-color: #FFB0C8;
  --surface-color: #201A1B;
  --on-primary-color: #650033;
  --on-surface-color: #EBE0E1;
  --on-surface-variant-color: #D5C2C6;
  --surface-container-color: #2d2627;
}